<div *ngFor="let post of favPosts; let i=index" class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body" style="background:rgba(0,0,0,0.01);">
                                <p class="h2">{{post?.title}}</p>
                                <img src="{{postImages[i]}}" *ngIf="postImages[i]" 
                                alt="" width="auto" height="200px">
                                <footer class="text-muted">{{post?.description}}</footer>
                                <footer class="text-muted">{{post?.amount}} e </footer>
                                <footer class="text-muted"> Od {{post?.start}} do {{post?.end}}</footer>
                                <footer class="text-muted"> {{post?.city.name}} , {{post?.city.country.name}} </footer>
                                <footer class="text-muted"> <a [routerLink]="['/profile', post.user.username ]">{{post.user?.firstName}} {{post?.user.lastName}} </a>
                                </footer>
                                <button type="button" class="btn btn-neutral btn-lg"
                                            (click)="removeFavoutire(post.id)">
                                            <i class="now-ui-icons files_box"></i> Remove from Favourite</button>
                </div>
            </div>


            <div *ngFor="let comm of post.comments">
                <div class="form-inline">
                    <div class="form-group col-md-9">
                        <footer class="text-muted">
                            - {{ comm?.text }} <a [routerLink]="['/profile', comm.user.username ]">{{ comm?.user.firstName }}
                                {{ comm?.user.lastName }}</a>
                        </footer>
                    </div>
                    <i class="now-ui-icons ui-1_simple-remove" *ngIf="username == comm.user.username" (click)="removeComm(comm.id)"></i>
                </div>
            </div>

            <form [formGroup]="commentForm">
                <div class="form-inline">
                    <div class="form-group col-md-9">
                        <input type="text" class="form-control" id="inputComm" placeholder="Comment"
                            formControlName="text">
                    </div>
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary btn-round"
                            (click)="addComment(post.id)">Comment</button>
                    </div>
                </div>
            </form>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure?
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="deletePost(post.id)" 
                            data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </div>